<h1>BOOLSAT</h1>

<script type="text/javascript" src="/js/defaulttext.js"></script>

<form action="/create" method="post">
  <p><input type="text" name="cnf[cnf]" id="" class="cleardefault" value="Type a CNF expression or DIMACS, for example 'a or not b and not a or b' or '1 -2 0 -1 2 0'" /></p>
  <p><input type="submit" value="Solve" /></p>
</form>

<div class="clear"></div>
<br />
<p><%= @notice %></p>
