<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; utf-8" />
  <title>Boolean Satisfiability Solver</title>
  <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" /> 
  <script type="text/javascript" src="/js/utils.js"></script>
</head>
<body>
<div id="main">
    <div id="content">
      <%= yield %>
    </div>
</div>
</body>
</html>
