<form action="/create" method="post">
  <p>Title: <input type="text" name="yasi[title]" id="" /></p>
  <p>Category: <input type="text" name="yasi[category]" id="" /></p>
  <p>Description: <input type="text" name="yasi[description]" id="" /></p>
  <p><input type="submit" value="Submit" /></p>
</form>