
<% if @cnf %>
    <h2><%= @cnf["cnf"] %></h2>
    <% if @cnf["satisfiable"] == 1 %>
        <p>Satisfiable. One assignment is <%= @cnf["assignment"] %>.
        </p>
    <% elsif @cnf["satisfiable"] == 0 %>
        <p>Not satisfiable.</p>
    <% else %>
        <p>Cannot determine solution.</p>
    <% end %>
<% end %>

<br /><br /><br />
<small><a href="/">Go Back</a></small>


<% if @cnf %>
<div class="invisible"><a href="/delete/<%= @cnf["_id"] %>">Delete this</a></div>
<% end %>
