
<% if @cnf %>
    <h2><%= @cnf["cnf"] %></h2>
    <% if @cnf["satisfiable"] %>
        <p>Satisfiable. One assignment is <%= @cnf["assignment"] %>.
        </p>
    <% else %>
        <p>Not satisfiable.</p>
    <% end %>
    <br /><br /><br />
    <small><a href="/delete/<%= @cnf["_id"] %>">Delete this</a> | </small>
<% end %>

<small><a href="/all">Go Back</a></small>
