body{color:#333;font-size:14px;font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif;text-align:center;margin:100px 0;}
ul{list-style-type:none;}
input[type=text]{padding:5px;width:500px;}
input[type=submit], input[type=button] {padding: 5px 10px;text-shadow: #333 0px 1px 1px;}
