body{color:#333;font-size:14px;font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif;text-align:center;margin:100px 0;}
ul{list-style-type:none;}
li{margin:5px 0;}
h2{margin:10px;}
input[type=text]{padding:5px;width:500px;}
input[type=submit], input[type=button] {padding: 5px 10px;font-weight: bold;}
.clear {clear: both;}
